{% extends "base.html" %}

{% block title %}Home page{% endblock %}
{% block content %}

<main role="main">
  <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
          <h1 style="color: black">Hello Student!</h1>
          <p style="color: rgb(0, 0, 0);"><b> Welcome to The Kimberly Student Bank! The place where all students can check their allowances and teachers may add and take away kimpy (the Kimberly college currency) from the students accounts.</b></p>
      </div>
  </div>
</main>
{% endblock %}
