{% extends "base.html" %}

<title>{% block title %}Teacher page{% endblock %}</title>

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="pieChartContainer">
        <canvas id="pieChart"></canvas>
      </div>
      <p class="text-center mt-2">Points Remaining: {{ current_user.remaining_points }}</p>
    </div>
  </div>
</div>

<script>
  var ctx = document.getElementById('pieChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['Points Awarded', 'Points Remaining'],
          datasets: [{
              label: 'Points',
              data: [{{ current_user.points_awarded }}, {{ current_user.remaining_points }}],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive: true,
          maintainAspectRatio: false
      }
  });
</script>

{% endblock %}