<div class="d-flex col-sm-12 py-5 mx-auto footer-fixed">
  <div class="footer col-sm-12">
    <div class="d-flex col-sm-10 py-5 mx-auto">
      <div class="sec1 col-sm-5 mx-0">
        <h2>About us</h2>
        <p> Kimberly Banking was founded on 22nd january 2022</p>
        <p> with the objective of rewarding students</p>
        <p>developed with students in mind</p>
      </div>
      <div class="sec2 col-sm-4 mx-0">
        <h2>Services</h2>
        <p>Retail and consumer Banking</p>
        <p>Personal Internet Banking</p>
        <p>student bronze, silver and gold cards</p>
      </div>
      <div class="sec3 col-sm-3 mx-0">
        <h2>Contact Us</h2>
        <p>Email:kimberley@wootton.beds.sch.uk</p>
        <p>Tel: 01234 762890</p>
        <p>Kimberley College Green Lane Stewartby Beds</p>
        <p>MK43 9LY</p>
      </div>
    </div>
  </div>
</div>
